<!--templates/cart.html-->
{% load static %}
{% load staticfiles %}

	<div class="dropdown">
        <ul class="nav navbar-nav navbar-right">
        <ul class="navbar-nav mr-auto">
				    <button type="button" id="btncart"class="btn btn-info" data-toggle="dropdown"  data-target="#dropdown-cart">
				     <i class="fa fa-shopping-cart" aria-hidden="true"></i> Cart <span id="totalexam" class="badge badge-pill badge-danger">0</span>
				    </button>
        </ul></ul>

				    <div class="dropdown-menu" id="dropdown-cart">
				    	<div class="row total-header-section">
			      			<div class="col-lg-6 col-sm-6 col-6">
			      				<i class="fa fa-shopping-cart" aria-hidden="true"></i> <span id="totalexam1" class="badge badge-pill badge-danger">0</span>
			      			</div>
			      			<div class="col-lg-6 col-sm-6 col-6 total-section text-right">
			      				<p>CFU:  <span class="text-info" id="totalcfu">0</span></p>
			      			</div>
				    	</div>
				    	<div class="row cart-detail" id="cart-detail">
		    				<div class="col-lg-12 col-sm-12 col-12 cart-detail-product">
		    					<span>Algoritmi</span>
		    					<span class="price text-info"> CFU:102</span>
                                <button class="btn btn-danger btn-sm"><i class="fas fa-window-close"></i></button>
		    				</div>
				    	</div>
				    	<div class="row">
                            <div class="col-lg-12 col-sm-12 col-12 text-center checkout"><a href="/checkout/">
				    			<button class="btn btn-primary btn-block">Checkout</button></a>
				    		</div>
				    	</div>
				    </div>
				</div>
