{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}

    {% load staticfiles %}
    {% load static %}
    {% if user.is_authenticated %}
        <div class="table-responsive">
        <table class="table table-sm table-striped table-bordered ">
            <thead class="thead-dark">
            <tr>
                <th scope="col">Esame</th>
                <th scope="col">Codice</th>
                <th scope="col">Anno accadeico</th>
                <th scope="col">CFU</th>
                <th scope="col">Sede</th>
                <th scope="col"></th>
                <th scope="col">Riconosciuto con</th>
                <th scope="col">Codice</th>
                <th scope="col">Anno accadeico</th>
                <th scope="col">CFU</th>
                <th scope="col">Integrazioni richieste</th>

            </tr>
            </thead>
            <tbody id="tbody">

            </tbody>
        </table>
        </div>
        <script type="text/javascript" src="{% static 'js/cartw.js' %}"></script>
    {% endif %}
{% endblock %}

