{% extends "base.html" %}
{% load crispy_forms_tags %}
<!--templates/inserisci.html-->
{% block content %}


    {% load staticfiles %}
    {% load static %}
    {% if user.is_authenticated %}
        <div id="form-crispy">

            {% crispy form %}

        </div>

        <!--<script type="text/javascript" src="{% static 'js/inserisciti.js' %}"></script>-->
    {% endif %}
{% endblock %}

