{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    {% load staticfiles %}
    {% load static %}
<!--templates/login.html-->

    <div id="alertContainer"></div>

        <div class="login">
            <form id="login_form" action="{{ submitlink }}" method="{{ type }}">
                <div class="modal-body">
                    {% load crispy_forms_tags %}
                    {% crispy login_form %}
                </div>
                <div class="modal-footer">
                    <button id="log_cancel" type="reset" class="btn btn-outline-danger" data-dismiss="modal">Cancel
                    </button>
                    <button type="submit" class="btn btn-outline-success">{{ submit }}</button>
                </div>
            </form>
    </div>
    {% if user.is_authenticated %}
        <div id="ris"> <!-- eventuali risultati -->

        </div>
        <script type="text/javascript" src="{% static 'js/ricercati.js' %}"></script>

    {% else %}

        <script type="text/javascript" src="{% static 'js/registrati.js' %}"></script>

    {% endif %}


{% endblock %}
