.main-section {
    background-color: #F8F8F8;
    margin-top: 50px;
}

.dropdown {
    float: right;
    padding-right: 30px;
}

.btn {
    border: 0px;
    margin: 10px 0px;
    box-shadow: none !important;
}

.total-header-section {
    border-bottom: 1px solid #d2d2d2;
}

.total-section p {
    margin-bottom: 20px;
}

.cart-detail {
    text-align: end;
    padding: 5px 0px;
}

.cart-detail-product p {

    margin: 0px;
    color: #000;
    font-weight: 500;
}

.cart-detail .price {
    font-size: 12px;
    margin-right: 10px;
    font-weight: 500;
}

.checkout {
    border-top: 1px solid #d2d2d2;
    padding-top: 15px;
}

.dropdown .dropdown-menu {
    padding: 20px;
    top: 100% !important;
    width: 266px !important;
    left: -160px;
    box-shadow: 0px 5px 30px black;
}

.dropdown-menu:before {
    content: " ";
    position: absolute;
    top: -20px;
    right: 50px;
    border: 10px solid transparent;
    border-bottom-color: #fff;
}
#cout{
    margin-right: 10%;
}
.form-group {
    margin-bottom: 0rem;
}
.modal-body {
    margin-left: 10%;
    margin-right: 10%;
}
@media (max-width: 480px) {
    #cout {
        padding-top: 20%;
    }
}

@media (max-width: 767px) {
    #cout {
        padding-top: 15%;
    }

}

@media (min-width: 668px) {
    #cout {
        padding-top: 10%;
    }
}